@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Baloo%20Thambi%202:700|Baloo%20Thambi%202:400");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
label,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "Baloo Thambi 2";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Baloo Thambi 2";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

.text-xxl {
  font-size: 5.652rem; /* 90.4px */
}

.text-xl {
  font-size: 3.997rem; /* 64px */
}

.text-lg {
  font-size: 2.827rem; /* 45.28px */
}

.text-md {
  font-size: 1.999rem; /* 32px */
}

.text-sm {
  font-size: 1.414rem; /* 22.56px */
}

.text-xs {
  font-size: 0.707rem; /* 11.36px */
}
.text-light {
  font-weight: var(--fw-400);
}
.text-bold {
  font-weight: var(--fw-700);
}
:root {
  --text: rgb(11, 7, 9);
  --background: rgb(252, 250, 251);
  --primary: rgb(168, 107, 137);
  --secondary: rgb(208, 180, 175);
  --accent: rgb(188, 158, 141);
  --fw-700: 700;
  --fw-400: 400;
}

/* utils */
.flow > * + * {
  margin-top: var(--flow-space, 1em);
}
input {
  background-color: var(--accent);
  border: 0.5px solid var(--text);
  border-radius: 1em;
  padding: 0.5em;
}
button {
  border: 0;
  border-radius: 0.25rem;
  background: var(--text);
  color: var(--background);
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  cursor: pointer;
  transition: opacity 0.5s linear;
}
button:hover {
  opacity: 0.7;
}
/* ------------------------------------Styling------------------------------------ */
/* ------------------------------------Main------------------------------------ */

/* ------------------------------------Grid Menu------------------------------------ */
.menu {
  margin: 1em auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
.col {
  padding: 2em;
  border-radius: 1em;
  overflow: hidden;
  font-family: inherit;
}
.col-1 {
  background-color: var(--primary);
}
.col-2 {
  background-color: var(--secondary);
}
/* ------------------------------------COMPONENTS------------------------------------ */

.container {
  display: flex;
  margin: auto;
  position: relative;
  font-family: "Inter", sans-serif;
  /* width: 86%;
  max-width: 800px;
  height: 800px;
  max-height: 80vh; */
  min-height: 20em;
  min-width: 20em;
  resize: both;
  overflow: hidden;
  max-height: fit-content;
  background-image: url("https://picsum.photos/800/1000");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.wrapper {
  max-width: 800px;
  width: 86%;
  height: 800px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  width: 150px;
  height: 160px;
  border: solid white 4px;
  position: absolute;
  /* to target */
  padding: 0.5em;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  transition: all 0.2s linear;
}

.card-alt-1 {
  height: 250px;
  width: 190px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: black;
  justify-content: flex-end;
  background-image: linear-gradient(to bottom, transparent 65%, white 65%);
  border-radius: 0.5em;
  line-height: 1.5;
}
.card-alt-1 p {
  font-size: 0.8em;
  font-weight: 300;
  line-height: 1.25;
}
.card-alt-1 #line-3 {
  display: none;
}
.card-alt-1 span {
  order: -1;
}

p {
  font-size: 16px;
  font-weight: 500;
}
span {
  font-weight: 600;
  font-size: 22px;
}
